@model IEnumerable<ProductModel>




<div class="container-fluid containerAddButton">
    <a asp-controller="Product" asp-action="Create" class="butoonAddProduct">Add Product</a>
</div>

<div class="table-responsive p-3">
    
    <table class="table table-dark table-striped">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Category</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Options</th>
        </tr>
        </thead>
        @{
            if (Model.Count() != 0)
            {

                foreach (var item in Model
                              .OrderByDescending(x => x.Price))
                {
                    <tr>
                        <td class="p-5">
                            @item.Name
                        </td>

                        <td class="p-5">
                            @item.Category
                        </td>
                        <td class="p-5">
                            @item.Description
                        </td>
                        <td class="p-5">
                            @item.Price
                        </td>
                        <td>
                            <div class="container-fluid">

                                <form class="mt-2" asp-controller="Product" asp-action="Delete" onsubmit="return ConfirmDelete()" method="post" asp-route-id="@item.Id">
                                    <div class="d-grid gap-2">
                                        <a asp-action="Edit" asp-controller="Product" asp-route-id="@item.Id" class="btn btn-info">Edit</a>
                                        <input type="submit" value="Delete" class="btn btn-danger mb-2"/>
                                    </div>
                                </form>
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <h3 class="text-center">No Products yet!</h3>
            }

        }
        <tbody>
        </tbody>
    </table>

</div>


<script src="~/js/site.js"></script>

