@model IEnumerable<ProductModel>


@{

    <a asp-controller="Product" asp-action="Create" class="p-2 btn-primary btn-info">Add Product</a>

    if (Model.Count() != 0)
    {
        <table class="table">
            <thead class="text-white">
                <tr>
                    <th scope="col">N</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
            </thead>
            @foreach (var product in Model)
            {
                <tbody class="text-white">
                    <tr>
                        <th scope="row">@product.Id</th>
                        <td>@product.Name</td>
                        <td>@product.Category</td>
                        <td>@product.Description</td>
                        <td>@product.Price</td>
                    </tr>
                </tbody>

            }
        </table>
    }
    else
    {
        <h2 class="text-white text-center m-5">There are no products yet!</h2>
    }
}